body,html{
	height: 100%;
	width: 100%;
	background-color: #fff;
	margin: 0;
}
ul, menu, dir {
  display: block;
  margin: 0 !important;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
li{
	list-style-type:none;
}
.ui-page{
	font-size: 11px;
	display: block;
	overflow: visible;
	overflow-x: hidden;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	position: absolute;
	border: 0;
	
}
.ui-content {
  border-width: 0;
  overflow: visible;
  overflow-x: hidden;
  position: relative;
  right: 0;
  left: 0;
}
.ui-header,
.ui-footer {
	border-width: 1px 0;
	border-style: solid;
	position: relative;
	height: 40px !important;
	line-height: 40px;

}

div[data-role=content] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ui-header-fixed, .ui-footer-fixed {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: #315FA5;
}

.footer_ul{
  -webkit-padding-start: 0;
  padding-start: 0;
  margin: 0;
}
.footer_li{/*4项*/
	float:left;
	margin:0;
	padding:0;
	display:inline;
	list-style-type:none;
	white-space:nowrap;
	width: 25%;
}
.footer_li_3{/*3项*/
	float:left;
	margin:0;
	padding:0;
	display:inline;
	list-style-type:none;
	white-space:nowrap;
	width: 33%;
}
.fotter_title{
	position: fixed;
	width: 100%;
	bottom: 40px;
	background-color: #fff;
	z-index: 1;
}
.title_img{
	margin-left: 12%;
}
.fotter_bar{
	position: fixed;
	bottom: 40px;
	line-height: 40px;
	z-index: 1;
}
.fotter_input{
	width: 3rem;
}
.bottom_btn{
	font-size: 14px;
	color: #fff;
	font-weight: 100;
	}
.content_input{/*输入input无边框效果*/
	border: 0;
	width: 100%;
	color: #315FA5;
	background: #fff ;
	text-align:center  ;
}
/*01界面*/
.label1{
	color: #315FA5;
	height: 17px;
	font-size: 14px;
}
.num_big{
	font-size: 20px;
}

.input_top{
	color:#fff;
	background-color: #315FA5;
	font-size: 14px;
	width: 80%;
}
.div_top{
	line-height: 2rem;
	height: 4rem;
}
.div_inline_block{
	display: inline-block;
	vertical-align:top;
}
.div_block{
	display:block;
	padding: 0.78rem 0;
}
.div_flex{
	display:inline-flex;
}
.center{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}
.div_border_bottom{
		border-bottom:solid 1px #315FA5;
}
.div_border_bottom2{
		border-bottom:solid 1px #fff;
}
.div_border_left{
		border-left:solid 1px #315FA5;

}
.div_border_top{
		border-top:solid 1px #315FA5;

}
.content_left{
	width: 30%;
	height: 100%;
	background-color: #fff;

}
.content_right{
	width: 69%;
	height: 100%;
	background-color: #fff;

}
/*navbar*/
h3{
	color: #315FA5;
	margin: 1rem;
}

#content {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    overflow: visible;
  overflow-x: hidden;

}
.list{
	float:left;
	display: inline-block !important ;
	width: 49.8%;
	height: 4.5rem;

}
.list_top{
	border-top:solid 1px #315FA5;
}
.list_right{
	border-right:solid 1px #315FA5;
}
.list_bottom{
	border-bottom:solid 1px #315FA5;
}
.list_bottom:hover{
	background-color: #315FA5;
}
.img_list{
	height: 2.5rem;
	margin-top: 1rem;
}
/**/
  
#mainer  
{  
    position:absolute;  
    margin:0;  
    top:0;  
    left:0;  
    bottom:0;  
    width:100%;  
    height:100%;  
    background:#fff;
    overflow: hidden;  
}  

#left-top-search  
{  
	position: fixed;
	top: 0;
    width:100%;  
    height:15%;
    line-height: 100%;  
    background:#fff;  
    overflow:hidden; 
    z-index: 1000; 
      
}  
#left-center-list  
{  
	position: relative;
	top: 15%;
    clear:both;  
    width:100%;  
    height: 65%;
    background-color:#fff;  
    overflow-y:scroll;  
    overflow-x: hidden;    
}  
#left-center-table  
{  
	position: fixed;
	top: 90%;
    width:100%;  
    height:9%;  
    padding-top: 2%; 
    background:#315FA5;  
    overflow:hidden; 
    z-index: 1; 
    right: 0;
    left: 0;
} 
#left-center-table2  
{ 
	position: fixed;
	top: 80%;
	right: 0;
    left: 0;
    width:100%;
    padding-top: 1%;
    padding-bottom: 1%;  
    height:7.9%;
    line-height: 40px;  
    background:#fff;  
    overflow:hidden;
    z-index: 1; 
}  
/*huadong*/
.div_inline{
	display: inline;	
	background-color: #fff;
	vertical-align:top;
}
.div_none{
	display: none;
}
.li_current {
  right: 0;
  position: absolute;
  top:0;
  left: 31%;
  width: inherit;
}
.li_current {
  right: 0;
  position: absolute;
  top:0;
  left: 31%;
  width: inherit;
}
.vs-container {
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	z-index: -1;
}
/*左右箭头*/
.dir_img{
	  height: 80px;
}
.dir_left{
  position: fixed;
  top: 40%;
  left: 30%;
  color: rgb(121, 107, 107);
  background-color: rgba(29, 28, 28, 0.47);
  width: 40px;
  height: 80px;
  border-radius: 30%;
  z-index: 1001;	
}
.dir_right{
  position: fixed;
  top: 40%;
  right: 20px;
  color: rgb(121, 107, 107);
  background-color: rgba(29, 28, 28, 0.47);
  width: 40px;
  height: 80px;
  border-radius: 30%;	
  z-index: 1001;

}
